h1 {
  color: red;
}
p {
  color: white;
}
body {
  background-color: green;
}
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.header {
  padding: 60px;
  text-align: center;
  background: green;
  color: white;
  font-size: 30px;
}
div.a { text-align: center; }
</style>
